body {
  max-width: 65ch;
  margin: auto;
  padding: 20px;

  font-family: Verdana, sans-serif;
  line-height: 1.5;
  color: #444;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;

  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}

a {
  color: #3273dc;
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  margin: 0;
  padding: 2px 0 2px 20px;

  font-style: italic;
  color: #222;

  border: 1px solid #999;
}

.hamburger {
  cursor: pointer;
  padding-right: 20px;
}

.hamburger .line {
  display: block;

  width: 40px;
  height: 5px;
  margin-bottom: 10px;

  background-color: #ff9776;
}

.nav-links {
  top: 5rem;
  left: 48px;

  display: none;

  width: 100%;
  margin: 0;

  background-color: #ff9776;
}

.nav-links a {
  display: block;

  padding: 10px 0;

  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.dark .nav-links a {
  color: #fff;
}

.nav-links a:focus a:hover {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    position: static;

    display: flex;
    justify-content: center;

    width: auto;

    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

.dark body {
  color: #fff;
  background-color: #0d0950;
}
